*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-width: 100px;
    background-color: pink;
    padding: 20px;
}

.To-Do{
    width: 100%;
    max-width: 500px;
    background-color: rgb(124, 191, 238);
    margin: 100px auto 20px;
    padding: 30px 40px 80px;
    border-radius: 20px;
}

.To-Do h1{
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
}

.input-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 205, 205);
    border-radius: 40px;
    padding: 15px;
    margin-bottom: 20px;
}

input {
        flex: 1;
        border: none;
        outline: none;
        padding: 10px;
        background-color: transparent;
        font-size: 16px;
    }

    #tombol {
        border: none;
        outline: none;
        padding: 10px 20px;
        background: #ea7bbe;
        color: lch(9.77% 0 296.81);
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
    }
    
    #tombol:hover {
        background: #d85d92;
        color: #232323;
    }
    
    #listContainer li {
        list-style: none;
        padding: 12px 8px 10px 50px;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    
    #listContainer li::before {
        content: "\2610";
        position: absolute;
        font-size: 22px;
        left: 10px;
        bottom: 6px;
    }
    
    #listContainer li.done {
        color: #888;
        text-decoration: line-through;
    }
    
    #listContainer li.done::before {
        content: "\2611";
        color: #27ae60;
    }
    
    #listContainer li span {
        position: absolute;
        right: 0;
        top: 0px;
        color: #888;
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    
    #listContainer li span:hover {
        background: #ccc;
        color: #fff;
    }